/* .card{
    background-color: white;
    box-shadow: 2px 2px 8px black;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
    height: 150px;
    padding-left: 20px;
  }
  
  .card:hover{
    box-shadow: 15px 15px 50px black;
  }
  
  .card>p{
    font-style: italic;
  } */

  table, th, td {
    border: 1px solid;
  }

  table{
    width: 100%;
  }

  .card-subheader span {
    display: block;
}