table,
th,
td {
  border: 1px solid;
}

table {
  width: 100%;
}

.card-subheader span {
  display: block;
}

.tableContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.tableContainer table {
  width: 49%;
}
