.tableBorder {
  border: 1px solid;
}

.cardSubHeaderSpan {
  display: block;
}

.tableContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.table {
  width: 49%;
}
